.line-editor-solved {
    background: rgb(28, 109, 28) !important;
}

.line-editor-unsolved {
    background: rgb(106, 114, 17) !important;
}

.line-editor-unsolvable {
    background: rgb(163, 55, 55) !important;
}

.line-editor-spec-met {
    background: rgb(28, 109, 28) !important;
}

.line-editor-spec-unmet {
    background: rgb(163, 55, 55) !important;
}

.line-editor-solution-too-long {
    background: rgb(163, 55, 55) !important;
}
.line-editor-solution-too-short {
    background: rgb(163, 55, 55) !important;
}

.analyzer-rulecount {
    width: 24px;
		padding-left: 4px;
}

.line-solution-got-longer {
    color: yellow !important;
}
.line-solution-got-shorter {
    color: yellow !important;
}
.line-solution-disappeared {
    color: red !important;
}
.line-solution-appeared {
    color: yellow !important;
}

.line-solution-too-long {
    color: red !important;
}
.line-solution-too-short {
    color: red !important;
}

.line-level-solvable {
    color: green !important;
}
.line-level-unsolvable {
    color: red !important;
}

.line-insufficient-hints {
    color: yellow !important;
}